<?xml version="1.0" encoding="UTF-8"?>
<project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="EmployeeBase">
        <wb-resource deploy-path="/" source-path="/src/main/webapp"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/properties"/>
        <property name="context-root" value="EmployeeBase"/>
        <property name="java-output-path" value="/EmployeeBase/build/classes"/>
    </wb-module>
</project-modules>
