.cellsBlock {
	width: 99%;
	display: table;
	border-right: solid;
	border-bottom: solid;
	border-width: 1px;
	text-align: center;
}

.cellSmallest, .cellSmall, .cellMedium, .cellLarge, .cellLargest {
	display: table-cell !important;
	float: left;
	height: 50px;
	border-left: solid;
	border-top: solid;
	border-width: 1px;
}

.cellSmall {
	width:2%;
	font-size: 12px;
}

.cellMedium {
	width:9%;
}

.cellLarge {
	width:12%;
}