<?xml version="1.0" encoding="utf-8" ?>
<taglib version="2.1" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd">
	<tlib-version>1.0</tlib-version>
	<short-name>tags</short-name>
	<uri>/tld/custom-tags.tld</uri>
	<tag>
		<name>pagination</name>
		<tag-class>com.epam.employeebase.view.tag.PaginationTag</tag-class>
		<body-content>empty</body-content>
		<attribute>
			<name>currentPage</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>entriesPerPage</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>employeeNumber</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>applicationName</name>
			<required>true</required>
		</attribute>
		<attribute>
			<name>controllerName</name>
			<required>true</required>
		</attribute>
		<attribute>
			<name>methodName</name>
			<required>true</required>
		</attribute>
	</tag>
</taglib>